{
    "files": [
        "../cJSON_Utils.c",
        "../tests/unity/src/unity.c"
    ],
    "compilation_cmd": "-DUNITY_EXCLUDE_SETJMP_H",
    "val-clone-on-recursive-calls-max-depth": 10000,
    "filesystem": {
        "files": [
            {
                "name": "json-patch-tests/cjson-utils-tests.json",
                "from": "../tests/json-patch-tests/cjson-utils-tests.json"
            },
            {
                "name": "json-patch-tests/package.json",
                "from": "../tests/json-patch-tests/package.json"
            },
            {
                "name": "json-patch-tests/spec_tests.json",
                "from": "../tests/json-patch-tests/spec_tests.json"
            },
            {
                "name": "json-patch-tests/tests.json",
                "from": "../tests/json-patch-tests/tests.json"
            },
            {
                "name": "inputs/test1",
                "from": "../tests/inputs/test1"
            },
            {
                "name": "inputs/test1.expected",
                "from": "../tests/inputs/test1.expected"
            },
            {
                "name": "inputs/test10",
                "from": "../tests/inputs/test10"
            },
            {
                "name": "inputs/test10.expected",
                "from": "../tests/inputs/test10.expected"
            },
            {
                "name": "inputs/test11",
                "from": "../tests/inputs/test11"
            },
            {
                "name": "inputs/test11.expected",
                "from": "../tests/inputs/test11.expected"
            },
            {
                "name": "inputs/test2",
                "from": "../tests/inputs/test2"
            },
            {
                "name": "inputs/test2.expected",
                "from": "../tests/inputs/test2.expected"
            },
            {
                "name": "inputs/test3",
                "from": "../tests/inputs/test3"
            },
            {
                "name": "inputs/test3.expected",
                "from": "../tests/inputs/test3.expected"
            },
            {
                "name": "inputs/test4",
                "from": "../tests/inputs/test4"
            },
            {
                "name": "inputs/test4.expected",
                "from": "../tests/inputs/test4.expected"
            },
            {
                "name": "inputs/test5",
                "from": "../tests/inputs/test5"
            },
            {
                "name": "inputs/test5.expected",
                "from": "../tests/inputs/test5.expected"
            },
            {
                "name": "inputs/test6",
                "from": "../tests/inputs/test6"
            },
            {
                "name": "inputs/test7",
                "from": "../tests/inputs/test7"
            },
            {
                "name": "inputs/test7.expected",
                "from": "../tests/inputs/test7.expected"
            },
            {
                "name": "inputs/test8",
                "from": "../tests/inputs/test8"
            },
            {
                "name": "inputs/test8.expected",
                "from": "../tests/inputs/test8.expected"
            },
            {
                "name": "inputs/test9",
                "from": "../tests/inputs/test9"
            },
            {
                "name": "inputs/test9.expected",
                "from": "../tests/inputs/test9.expected"
            }
        ]
    }
}