{
    "files": [
        "../cJSON.c",
        "../fuzzing/afl.c"
    ],
    "filesystem": {
        "files": [
            {
                "name": "fuzzing/inputs/test1",
                "from": "../fuzzing/inputs/test1"
            },
            {
                "name": "fuzzing/inputs/test10",
                "from": "../fuzzing/inputs/test10"
            },
            {
                "name": "fuzzing/inputs/test11",
                "from": "../fuzzing/inputs/test11"
            },
            {
                "name": "fuzzing/inputs/test2",
                "from": "../fuzzing/inputs/test2"
            },
            {
                "name": "fuzzing/inputs/test3",
                "from": "../fuzzing/inputs/test3"
            },
            {
                "name": "fuzzing/inputs/test3.bu",
                "from": "../fuzzing/inputs/test3.bu"
            },
            {
                "name": "fuzzing/inputs/test3.uf",
                "from": "../fuzzing/inputs/test3.uf"
            },
            {
                "name": "fuzzing/inputs/test3.uu",
                "from": "../fuzzing/inputs/test3.uu"
            },
            {
                "name": "fuzzing/inputs/test4",
                "from": "../fuzzing/inputs/test4"
            },
            {
                "name": "fuzzing/inputs/test5",
                "from": "../fuzzing/inputs/test5"
            },
            {
                "name": "fuzzing/inputs/test6",
                "from": "../fuzzing/inputs/test6"
            },
            {
                "name": "fuzzing/inputs/test7",
                "from": "../fuzzing/inputs/test7"
            },
            {
                "name": "fuzzing/inputs/test8",
                "from": "../fuzzing/inputs/test8"
            },
            {
                "name": "fuzzing/inputs/test9",
                "from": "../fuzzing/inputs/test9"
            }
        ]
    }
}