[
    {
        "name": "cjson_add.c",
        "files": [
            "tests/cjson_add.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "compare_tests.c",
        "files": [
            "tests/compare_tests.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "json_patch_tests.c",
        "files": [
            "tests/json_patch_tests.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "minify_tests.c",
        "files": [
            "tests/minify_tests.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "misc_tests.c",
        "files": [
            "tests/misc_tests.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "misc_utils_tests.c",
        "files": [
            "tests/misc_utils_tests.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "old_utils_tests.c",
        "files": [
            "tests/old_utils_tests.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "parse_array.c",
        "files": [
            "tests/parse_array.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "parse_examples.c",
        "files": [
            "tests/parse_examples.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "parse_hex4.c",
        "files": [
            "tests/parse_hex4.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "parse_number.c",
        "files": [
            "tests/parse_number.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "parse_object.c",
        "files": [
            "tests/parse_object.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "parse_string.c",
        "files": [
            "tests/parse_string.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "parse_value.c",
        "files": [
            "tests/parse_value.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "parse_with_opts.c",
        "files": [
            "tests/parse_with_opts.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "print_array.c",
        "files": [
            "tests/print_array.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "print_number.c",
        "files": [
            "tests/print_number.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "print_object.c",
        "files": [
            "tests/print_object.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "print_string.c",
        "files": [
            "tests/print_string.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "print_value.c",
        "files": [
            "tests/print_value.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "readme_examples.c",
        "files": [
            "tests/readme_examples.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "afl.c test1",
        "val-args": " fuzzing/inputs/test1",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test10",
        "val-args": " fuzzing/inputs/test10",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test11",
        "val-args": " fuzzing/inputs/test11",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test2",
        "val-args": " fuzzing/inputs/test2",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test3",
        "val-args": " fuzzing/inputs/test3",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test3.bu",
        "val-args": " fuzzing/inputs/test3.bu",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test3.uf",
        "val-args": " fuzzing/inputs/test3.uf",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test3.uu",
        "val-args": " fuzzing/inputs/test3.uu",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test4",
        "val-args": " fuzzing/inputs/test4",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test5",
        "val-args": " fuzzing/inputs/test5",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test6",
        "val-args": " fuzzing/inputs/test6",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test7",
        "val-args": " fuzzing/inputs/test7",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test8",
        "val-args": " fuzzing/inputs/test8",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    },
    {
        "name": "afl.c test9",
        "val-args": " fuzzing/inputs/test9",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/fuzz.config"
    }
]